
{% set client = salt['grains.filter_by']({
    'Debian': {
    	'pkgs': ["rpcbind", "nfs-common"],
        'services': ['rpcbind', 'nfs-common'],
    },

}, merge=salt['pillar.get']('nfs:client')) %}

{% set server = salt['grains.filter_by']({
    'Debian': {
    	'pkgs': ["nfs-kernel-server", "rpcbind", "nfs-common"],
        'nfs_service': "nfs-kernel-server",
        'portmap_service': 'rpcbind',
    },
}, merge=salt['pillar.get']('nfs:server')) %}